/* ================= HEADER ================= */


/* hide circles on mobile */
@media (max-width: 768px) {
    .has-circles .circle {
        display: none;
    }
}



/* Mobile */
@media (max-width: 768px) {
    .why-title {
        font-size: 26px;
    }

    .why-img-lg,
    .why-img-sm {
        height: 220px;
        min-height: auto;
    }
}


/* MOBILE */
@media (max-width: 768px) {
    .eligibility-title {
        font-size: 24px;
    }

    .eligibility-text {
        font-size: 14px;
        padding: 0 10px;
    }

    .eligibility-box {
        padding: 20px;
    }

    .eligibility-box li {
        font-size: 14px;
    }
}
/* ================= SYLLABUS SECTION ================= */


/* Mobile */
@media (max-width: 576px) {
    .syllabus-title {
        font-size: 26px;
    }
    .syllabus-text {
        font-size: 14px;
        padding: 0 10px;
    }
    .syllabus-accordion .accordion-button {
        font-size: 16px;
    }
}


/* MOBILE */
@media (max-width: 576px) {
    .yoga-title {
        font-size: 24px;
    }
    .course-info li {
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }
    .course-info .value {
        width: 100%;
        text-align: center;
    }
    .courses-title{
        font-size: 24px;
    }
}

/* Mobile adjustments */
@media(max-width:768px){
    .yoga-info-box{
        padding:15px;
    }
    .yoga-info-box p{
        font-size: 14px;
    }

    .yoga-info-heading{
        font-size:24px;
        font-family: 'Abhaya Libre', serif;
        margin-bottom: 64px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .hero-img {
        height: 50vh;
    }
}
@media (max-width: 768px) {
    .testimonial-card-horizontal {
        flex-direction: column;
        text-align: center;
    }

    .testimonial-content {
        text-align: center;
    }

    .testimonial-image img {
        width: 130px;
        height: 130px;
    }
}